.admin-categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../public/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    margin: -10px;
    overflow-y: auto;
  }
  
  .admin-categories-title {
    text-align: center;
    color: #ffffff;
    margin-top: 15%;
    margin-left: -71%;
  }

  .add-categories-link {
    margin-top: 15%;
    margin-right: 6%;
    padding: 5px 5px;
    background-color: #edd100;
    color: #000000;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .add-categories-link:hover {
    background-color: #ffc107;
  }

  .back-to-admin-link-categories {
    margin-top: 5%;
    margin-left: 7%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .back-to-admin-link-categories i {
    margin-right: 5px;
    font-size: 18px;
  }

  .admin-categories-table {
    margin-bottom: -40%;
    width: 99%;
    border-collapse: collapse;
    opacity: 85%;
  }
  
  .admin-categories-table th {
    border: 1px solid #000000;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .admin-categories-table td {
    border: 1px solid #000000;
    font-size: 20px;
    padding: 10px;
    text-align: left;
  }

  .back-link {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #edd100;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }

  .back-link:hover {
    background-color: #ffc107;
  }

  .edit-buttons-categories {
    background-color: #edd100;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
}

.edit-buttons-categories:hover {
    background-color: #ffc107;
}

  