.header-container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 40px 230px;
  background-color: #000000;
  color: rgb(250, 250, 250);
}

/* cambiar esto para añadir fondo al HEADER */
  .header-container {
  /* background-image: url('../image.png'); /* Ajusta la ruta según la ubicación de tu imagen */
  background-size: cover;  /* Esto hará que la imagen cubra todo el contenedor */
  background-repeat: no-repeat;  /* Evita que la imagen se repita */
  background-position: center center;  /* Centra la imagen en el contenedor */
  /* ... resto del código ... */
} 

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
  border: 1px solid #edd100;
  border-radius: 25px; /* Aumenta el radio para redondear más los bordes */
  width: auto; /* Cambio de fijo a auto para adaptarse al contenido */
  padding: 15px 15px; /* Añade padding para espacio alrededor del texto */
  font-weight: bold; /* Texto en negrita */
  align-items: center; /* Centra verticalmente el texto y el ícono */
  justify-content: center; /* Centra horizontalmente el texto y el ícono */
  background-color: #edd100; /* Fondo rojo */
}

.header-link:hover {
  background-color: #ffc107;
}

@media only screen and (max-width: 768px) {
  .header-container {
      padding: 20px 30px; /* Reducción del padding */
      flex-direction: column; /* Cambio de dirección para apilar logo y navegación */
      height: auto; /* Altura automática */
  }

  .header-nav {
      gap: 10px; /* Reducción del gap entre enlaces */
      margin-top: 10px; /* Espacio adicional entre el logo y la navegación */
  }

  .header-logo {
      font-size: 20px; /* Reducción del tamaño de la fuente */
  }
}